@mixin xxs {
  @media (max-width: 374px) {
    @content;
  }
}
@mixin xs {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 1320px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 1600px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1600px) {
    @content;
  }
}

.con-main-wrap {
  width: 1228px;
  margin: 0 auto;
  @include md {
    width: 100%;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// 文本溢出 一行
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin ellipsis2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
}
