.app-wrap {
  background-color: var(--bg);
  min-height: 100vh;
  :global {
    .app-page {
      padding-top: 106px;
      @include md {
        padding-top: 77px;
      }
      &.overview-page {
        padding-top: 0;
      }
    }
  }
}
